{% extends "LetsFrameAdminBundle::layout.html.twig" %}
 
{# le block active_menu indique au menu quelle est la page courante #}
{% block active_menu %}bidules{% endblock %}

{% block content %}

<div class="page-header">
<h1>
Bidule
<small>Liste de Bidules</small>
</h1>
</div>

<table class="table table-bordered table-striped table-condensed">
    <thead>
        <tr>
            <th>#</th>
            <th>Texte</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in paginator %}
        <tr>
            <td><a href="{{ path('bidule_edit', { 'id': entity.id }) }}">{{ entity.title }}</a></td>
            <td>{{ entity.text }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<div class="pagination">
{#{ pagerfanta(paginator, 'adminView') }#}
</div>

<a href="{{ path('bidule_create') }}" class="btn btn-primary">
Saisir un nouveau bidule
</a>
{% endblock %}
