        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a href="#" class="brand">Administration</a>
                    <ul class="nav">
                        <li class="active">
                        <a href="">Accueil</a>
                        </li>
                        <li class="">
                        <a href="{{path('bidules')  }}">Bidules</a>
                        </li>
                        <li class="">
                        <a href="">Galeries d'images</a>
                        </li>

                        <li class="dropdown" >
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        Dropdown
                        <b class="caret"></b>
                        </a>
                          <ul class="dropdown-menu">
                            <li class="">
                              <a href="">Menu 1</a>
                            </li>
                            <li class="">
                              <a href="">Menu 2</a>
                            </li>
                          </ul>
                        </li>

                    </ul>
                    <ul class="nav pull-right">
                        <li class="">
                        <a href="{{ path('LetsFrameMainBundle_homepage') }}" target="_blank">Visiter Le Site</a>
                        </li>
                        <li class="divider-vertical"> </li>
                        <li class="">
                        <a href="{{ path('logout') }}">Déconnection</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
