{% extends "LetsFrameMainBundle::layout.html.twig" %}

{% block content %}

<h1>Letsframe Home Page</h1>
      <hr>

      <p>Welcome to the Letsframe test pages. The HTML files below test most HTML elements, as well as most classes provided by Blueprint.</p>

<p>#src/LetsFrame/MainBundle/Resources/views/Main/index.html.twig</p>

{% endblock %}
